<!DOCTYPE html>
<html>
<head>
	<title>MyActive</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<%= stylesheet_link_tag 'application', media: :all %>
</head>
<body>
<!-- 
<nav class="menu">

	<h1>MyActive</h1>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Articles', articles_path %></li>
		<li><%= link_to 'People', people_path %></li>
	</ul>
</nav>
-->



<%= render 'layouts/menu' %>



<div class="container">
	<%= yield %>
</div>



<%= javascript_include_tag 'application' %>

</body>
</html>


